<div
    class="container-fluid justify-content-center align-items-center animate__animated animate__zoomIn animate__slower animate__delay-2s">
    <div class="container">
        <table align="center" border="0">
            <tbody>
                <tr>
                    <td colspan="9" align="center" width=100%>
                        <br>
                        <img src="https://i.imgur.com/w2U3cMe.png">
                        <br>
                    </td>
                </tr>
                <tr>
                    <td width="86" align="right">
                        <img src="https://i.imgur.com/8vBZt79.gif">
                    </td>
                    <td width="47">&nbsp;</td>
                    <td width="89">&nbsp;</td>
                    <td width="55">&nbsp;</td>
                    <td width="162" rowspan="9" align="center">
                        <img src="https://i.imgur.com/35eRLsx.gif">
                    </td>
                    <td width="55">&nbsp;</td>
                    <td width="101">&nbsp;</td>
                    <td width="70">&nbsp;</td>
                    <td width="97">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <img src="https://i.imgur.com/rfgZDZ9.gif">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://i.imgur.com/qcZrv7k.gif">
                    </td>
                    <td>&nbsp;</td>
                    <td align="center">
                        <img src="https://i.imgur.com/rfgZDZ9.gif">
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td align="right">
                        <img src="https://i.imgur.com/LzkRZNO.gif">
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td rowspan="2" align="center">
                        <img src="https://i.imgur.com/RLOthSg.gif">
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <img src="https://i.imgur.com/4IMtxIj.gif">
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td align="right">
                        <img src="https://i.imgur.com/bTgwHP9.gif">
                    </td>
                    <td>&nbsp;</td>
                    <td align="center">
                        <img src="https://i.imgur.com/RLOthSg.gif">
                    </td>
                </tr>

                <tr>
                    <td align="right">
                        <img src="https://i.imgur.com/Sm6yxaJ.gif">

                    </td>
                    <td>&nbsp;</td>
                    <td align="right">
                        <img src="https://i.imgur.com/8vBZt79.gif">

                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td rowspan="3" align="right">
                        <img src="https://i.imgur.com/4IMtxIj.gif">

                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>