<!-- Card Bootstrap que se itera -->
<div class="row row-cols-1  row-cols-md-2 row-cols-lg-3 row-cols-xl-4 wraper">
    <div class="col mb-4" *ngFor="let terraza of terrazas">
        <div class="card">
            <div class="card-header h-100">
                <a [routerLink]="['/detalle',terraza.id_terraza]">
                    <img [src]=terraza.streetView class="card-img-top" [alt]=terraza.rotulo>
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-title">{{terraza.rotulo}}</h6>
                <p class="card-text">{{terraza.desc_clase}} {{terraza.desc_nombre}} {{terraza.nom_terraza}}
                    {{terraza.num_terraza}}</p>
            </div>
            <div class="row card-footer">
                <div class="col-12">
                    <a alt="" class="btn btn-block btn-danger">¡Llévame allí!</a>
                </div>
                <div class="col-12 text-center pt-2">
                    <small class="text-muted">Distancia a tu posición: {{terraza.distancia}} m.</small>
                </div>
            </div>
        </div>
    </div>
</div>