.container {
    min-height: 75vh;
    padding-right: 0;
    padding-left: 0;
    color: black;
}

/* .favoritos { */

/* border: 1px solid whitesmoke; */

/* border-radius: 5px; */

/* padding: 5px; */

/* } */

h4 {
    color: #FA573A;
}