.wraper {
    color: black;
}

h2 {
    color: #FA573A;
    text-transform: uppercase;
    font-size: clamp(19px, 5vw, 35px);
}

.colorLogo {
    color: #FA573A;
}

.colorGris {
    color: rgb(173, 172, 172);
}

.colorGris:hover {
    color: #FA573A;
}