<div class="row justify-content-center contenido">
    <div class="col-11 mt-4 mb-4">
        <div class="text-white row align-items-center justify-content-center p-3">
            <ngx-avatar [githubId]="username" [name]="username" bgColor="crimson" [round]="false" cornerRadius="5"
                data-toggle="tooltip" data-placement="auto" [title]="username" size="100">
            </ngx-avatar>
        </div>
        <h2 class="text-center mb-5 d-flex justify-content-center align-items-center">
            <i class="fas fa-heart mr-2"></i>Tus terrazas favoritas:
        </h2>
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2  row-cols-lg-3 row-cols-xl-4 wraper">
            <div class="col card-group mb-3" *ngFor="let terraza of arrFavoritos">
                <div class="card">
                    <figure>
                        <a [routerLink]="['/detalle',terraza?.id_terraza]" class="colorGris">
                            <img [src]=terraza.streetView class="card-img-top" [alt]=terraza.rotulo>
                            <figcaption class="text-center">
                                <i class="far fa-hand-point-up pr-2"></i> Toca la foto para más info
                            </figcaption>
                        </a>
                    </figure>
                    <div class="card-body text-center">
                        <h6 class="card-title colorLogo">{{terraza?.rotulo}}</h6>
                        <p class="card-text">{{terraza?.desc_clase}} {{terraza?.desc_nombre}}
                            {{terraza?.nom_terraza}}
                            {{terraza?.num_terraza}}</p>
                    </div>
                    <div class="row card-footer">
                        <div class="col-12">
                            <a [href]="'https://www.google.com/maps/dir/'+lat+','+lng+'/'+terraza?.coordenada_x_local+','+terraza?.coordenada_y_local"
                                target="blank" class="btn btn-block btn-danger"><i
                                    class="fas fa-map-marked-alt mr-2"></i>¡Llévame allí!</a>
                        </div>
                        <div class="col-12 text-center pt-2">
                            <small class="text-muted">Distancia a tu posición: {{terraza?.distancia}} m.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>