<div class="container d-flex align-items-center justify-content-center">
    <div class="wrapper">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="rounded p-3">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <div>
                <button type="submit" class="btn btn-danger mr-1">Login</button>
                Para resgistrarte, pincha <a [routerLink]="['/registro']">aquí</a>
            </div>
        </form>

        <div class="errores mt-3">
            <ul class="list-group">
                <li *ngFor="let error of errores" class="list-group-item rounded mb-2">
                    <span class="error">Error: </span>
                    {{error?.msg}}
                </li>
            </ul>
        </div>
    </div>
</div>