.container {
    min-height: 75vh;
    padding-right: 0;
    padding-left: 0;
}

.wrapper {
    width: 100%;
}

form {
    background-color: rgba(50, 50, 50, 0.9);
}

.list-group-item {
    color: floralwhite;
    background-color: rgba(50, 50, 50, 0.9);
}

.error {
    color: red;
}

span {
    font-size: clamp(0.5rem, 3.5vw, 1rem);
}