<div class="row justify-content-center mb-4">
    <div class="col-10">
        <h2>Protección de datos:</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10">
        <p>
            La visita a los portales institucionales del Ayuntamiento de Madrid se efectúa en forma anónima.
        </p>
        <p>
            Solamente para poder acceder a alguno de los servicios de la web que dispongan de gestión o trámite
            específico los usuarios y las usuarias habrán de suministrar los datos personales imprescindibles para
            la
            prestación del servicio solicitado.
        </p>
        <p>
            Estos datos se incorporarán a las correspondientes actividades de tratamiento del Ayuntamiento de Madrid
            y
            serán tratados con la finalidad específica de cada tratamiento de conformidad con la regulación
            establecida
            por el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo sobre protección de datos de
            carácter
            personal y demás disposiciones de aplicación. El registro de actividades de tratamiento con sus
            correspondientes responsables municipales se encuentra en el apartado Protección de datos personales de
            la
            Sede electrónica.
        </p>
        <p>
            La legitimación del tratamiento puede estar basada en el consentimiento de las personas interesadas y/o
            el
            cumplimiento de una obligación legal y/o el cumplimiento de una misión realizada en interés público y/o
            la
            protección de intereses vitales y/o la ejecución de un contrato.
        </p>
        <p>
            El plazo de conservación de los datos dependerá de lo especificado para cada tratamiento de datos
            personales.
        </p>
        <p>
            Los datos recabados únicamente serán objeto de cesión, en su caso, previo consentimiento de la persona
            interesada o de acuerdo con lo previsto en la citada legislación.
        </p>
        <p>
            Las personas cuyos datos personales sean tratados por el Ayuntamiento de Madrid podrán ejercitar los
            derechos de acceso, rectificación, supresión, oposición, limitación del tratamiento y portabilidad, así
            como
            a oponerse a la toma de decisiones individuales automatizadas, incluida la elaboración de perfiles, en
            la
            forma prevista en la legislación vigente sobre la materia, ante el órgano responsable del fichero. En el
            caso de desconocer este órgano, la solicitud se dirigirá a la Dirección General de Transparencia, calle
            Montalbán, 1, 28014 - Madrid y/o correo electrónico oficprotecciondatos@madrid.es.
        </p>
        <p>
            Los citados derechos pueden ejercerse también en línea a través de la Sede electrónica del Ayuntamiento
            de
            Madrid.
        </p>
        <p>
            Así mismo los usuarios y usuarias también tienen derecho a presentar una reclamación ante la Agencia
            Española de Protección de Datos.
        </p>
    </div>
</div>