h4 {
    text-decoration-line: underline;
}

.card {
    color: black;
}

.imgCar {
    display: flex;
    align-items: center;
    height: clamp(180px, 50vw, 400px);
    background-color: rgba(200, 200, 200, 0.35);
}

agm-map {
    color: black;
    width: 100%;
    height: clamp(180px, 27vw, 1000px);
}

.icons {
    width: 100%;
}

.mat-fab {
    transition: 250ms;
    border: none;
}

.mat-fab:focus {
    outline: none;
}

.mat-fab:hover {
    color: crimson;
}

.favorito {
    color: red;
}