.colorLogo {
    background-color: #FA573A;
}

.colorOro {
    color: rgb(199, 199, 9);
}

.colorSilver {
    color: #FA573A;
}

.textSize {
    font-size: clamp(10px, 3.5vw, 16px);
}

.card {
    color: black;
}

.imgCar {
    display: flex;
    align-items: center;
    height: clamp(180px, 50vw, 400px);
    background-color: rgba(200, 200, 200, 0.35);
}

agm-map {
    color: black;
    width: 100%;
    height: clamp(180px, 27vw, 1000px);
}

.icons {
    width: 100%;
}

.mat-mini-fab {
    transition: 250ms;
    border: none;
}

.mat-fab:focus, .mat-mini-fab:focus {
    outline: none;
}

.mat-mini-fab:hover {
    color: crimson;
}

#add:hover {
    color: #20A39E;
}

.favorito {
    color: red;
}

.comentarios {
    padding: 0;
    background-color: white;
    border-radius: 0.5rem;
    color: black;
}

.comTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FA573A;
}

.comentario i {
    font-size: 1.5rem;
    color: silver
}

.botonesComentarios {
    width: 3vw;
}

.card-header {
    height: 195px;
    padding: .75rem;
}