.colorLogo {
    color: #FA573A;
}

.colorOro {
    color: rgb(199, 199, 9);
}

.textSize {
    font-size: clamp(10px, 3.5vw, 18px);
}

.card {
    color: black;
}

.imgCar {
    display: flex;
    align-items: center;
    height: clamp(180px, 50vw, 400px);
    background-color: rgba(200, 200, 200, 0.35);
}

agm-map {
    color: black;
    width: 100%;
    height: clamp(180px, 27vw, 1000px);
}

.icons {
    width: 100%;
}

.mat-mini-fab {
    transition: 250ms;
    border: none;
}

.mat-fab:focus, .mat-mini-fab:focus {
    outline: none;
}

.mat-mini-fab:hover {
    color: crimson;
}

#add:hover {
    color: #20A39E;
}

.favorito {
    color: red;
}

.comentarios {
    padding: 0;
    background-color: white;
    border-radius: 0.5rem;
    color: black;
}

.comTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FA573A;
}

.comentario i {
    font-size: 1.5rem;
    color: silver
}

.botonesComentarios {
    width: 3vw;
}

.card-header {
    height: 195px;
    padding: .75rem;
}

/*Slider*/

::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
    background: silver;
    height: 2px;
}

/* ::ng-deep .custom-slider .ng5-slider .ng5-slider-selection {
    background: orange;
} */

::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer {
    /* width: 8px;
    height: 16px;
    top: auto; */
    /* to remove the default positioning */
    /* bottom: 0; */
    background-color: #FA573A;
    /* border-top-left-radius: 3px;
    border-top-right-radius: 3px; */
}

/* ::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
} */

/* ::ng-deep .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
} */

/* ::ng-deep .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: orange;
} */

/* ::ng-deep .custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
} */

/* ::ng-deep .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: orange;
} */