.container-fluid {
    background-color: black;
    background-image: url('../assets/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center top;
    min-height: 100vh;
}

#logo {
    color: #FA573A;
    font-family: 'Major Mono Display', monospace;
    font-size: 1.5rem;
}

footer {
    background-color: black;
}

@media (min-width: 480px) {
    .container-fluid {
        background-size: 150%;
    }
}

@media (min-width: 720px) {
    .container-fluid {
        background-size: 125%;
    }
}

@media (min-width: 960px) {
    .container-fluid {
        background-size: 100%;
    }
}

@media (min-width: 1400px) {
    .container-fluid {
        background-size: 85%;
    }
}

@media (min-width: 1600px) {
    .container-fluid {
        background-size: 80%;
    }
}

@media (min-width: 1920px) {
    .container-fluid {
        background-size: 75%;
    }
}