<div class="container-fluid bg-dark">
    <header>
        <nav class="navbar navbar-dark bg-transparent p-4 row">
            <div>
                <a id="logo" class="navbar-brand" [routerLink]="['home']">
                    <span>Dterraceo<i class="fas fa-cocktail"></i></span>
                </a>
            </div>
            <div>
                <button class="btn btn-danger">Login</button>
            </div>
        </nav>
    </header>

    <router-outlet></router-outlet>

    <footer class="border-top border-secondary d-flex justify-content-between flex-wrap">
        <div class="col-md-12 col-lg-8 my-3">
            <a href="https://datos.madrid.es/portal/site/egob/" target="_blank"><img src="../assets/logo-madrid.png"
                    alt="logo-madrid"></a>
            Información obtenida de Open data Madrid
        </div>
        <div class="col-md-12 col-lg-4 text-right my-3">
            <span>
                <a class="text-muted"> Aviso legal</a>
                <a class="text-muted"> Proteccion de datos</a>
            </span>
        </div>
    </footer>

</div>