.container-fluid {
    background-color: black;
}

header {
    min-height: 10vh;
}

#logo {
    color: #FA573A;
    font-family: 'Major Mono Display', monospace;
    font-size: 1.7rem;
}

.btn {
    padding: .25rem .5rem;
}

footer {
    background-color: black;
    min-height: 10vh;
}

i {
    font-size: 1.3rem;
}

@media (max-width: 400px) {
    #logo {
        font-size: 1.5rem;
    }
    i {
        font-size: 1rem;
    }
}