<div class="container-fluid .flex-column justify-content-between">
    <header>
        <nav class="navbar navbar-dark bg-transparent row animate__animated animate__backInDown animate__slower p-1">
            <div class="ml-1">
                <a id="logo" class="navbar-brand animate__animated animate__flash animate__delay-4s"
                    [routerLink]="['home']">
                    <span class="d-flex align-items-center justify-content-between">Dterraceo<i
                            class="fas fa-cocktail"></i></span>
                </a>
            </div>
            <div class="d-flex justify-content-center align-items-center py-2">
                <button type="button" class="home btn btn-outline-danger mr-2" type="button" [routerLink]="['home']"
                    *ngIf="desHome" data-toggle="tooltip" data-placement="auto" title="Ir a Home">Home</button>
                <button type="button" class="btn btn-outline-danger mr-2" [routerLink]="['login']"
                    *ngIf="desLogin && !userLogged" data-toggle="tooltip" data-placement="auto"
                    title="Ir a Login">Login</button>
                <button type="button" class="btn btn-outline-danger mr-2" *ngIf="userLogged" data-toggle="tooltip"
                    data-placement="auto" title="Logout" (click)="onClick()">
                    <i class="fas fa-sign-out-alt icon"></i>
                </button>
                <button class="high-res btn btn-outline-danger mr-2" [routerLink]="['usuario', idUsuario]"
                    *ngIf="userLogged" data-toggle="tooltip" data-placement="auto" title="Perfil de usuario">
                    <ngx-avatar class="my-avatar" [githubId]="username" [name]="username" bgColor="crimson"
                        [round]="false" cornerRadius="5" size="37"></ngx-avatar>
                </button>
                <button class="low-res btn btn-outline-danger mr-2" [routerLink]="['usuario', idUsuario]"
                    *ngIf="userLogged" data-toggle="tooltip" data-placement="auto" title="Perfil de usuario">
                    <ngx-avatar class="my-avatar" [name]="username" bgColor="crimson" [round]="false" cornerRadius="5"
                        size="25"></ngx-avatar>
                </button>
            </div>
        </nav>
    </header>

    <router-outlet></router-outlet>

    <footer class="border-top border-secondary justify-content-between flex-wrap">
        <div class="col-12 text-center my-2">
            <a href="https://datos.madrid.es/portal/site/egob/" target="_blank"><img src="../assets/logo-madrid.png"
                    alt="logo-madrid"></a>
            Información obtenida de Open data Madrid
        </div>
        <div class="col-12 text-center mb-2">
            <span>
                <a class="text-muted" [routerLink]="['avisoLegal']"> Aviso legal</a>
                <a class="text-muted" [routerLink]="['proteccionDeDatos']"> Proteccion de datos</a>
            </span>
        </div>
    </footer>
</div>