<!-- <div id="background" class="container-fluid">
    <img src="https://cdn.pixabay.com/photo/2016/10/16/21/13/drinks-1746272_960_720.jpg" alt="">

</div> -->

<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img src="https://cdn.pixabay.com/photo/2016/10/16/21/13/drinks-1746272_960_720.jpg" alt="">
    </div>
</div> -->
<div id="buscador" class="row justify-content-center align-items-end">
    <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5">
        <input type="search" class="form-control form-control-lg" placeholder="Busca tu terraza...">
    </div>
</div>