h1 {
    color: #FA573A;
    text-align: center;
    font-size: clamp(1rem, 5vw, 3.5rem);
    margin-bottom: 0;
}

#wrapperBuscador {
    min-height: 80vh;
    width: 100%;
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-position: center center;
    margin-right: 0;
    margin-left: 0;
    position: relative;
}

.crimson {
    background-color: crimson;
    border-radius: 0.5rem;
    padding: 5px;
}

.tomato {
    background-color: tomato;
    border-radius: 0.5rem;
    padding: 5px;
}

.autocomplete {
    color: black;
}

.mat-expansion-panel {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.mat-expansion-panel-header {
    padding: 0;
    text-align: center;
}

.button {
    width: 100%;
}

.darker {
    background-color: rgba(0, 0, 0, 0.85);
}

i {
    font-size: 1.5rem;
}

.mat-expansion-panel-header-description {
    color: #FA573A;
    font-size: 1.7rem;
    text-align: center;
    justify-content: center;
    margin-right: 0;
}

#buscadorAvanzado span {
    font-size: 1.2rem;
}

.arrowDiv {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow {
    color: #FA573A;
    font-size: 2.5rem;
    transition: 250ms;
}

.arrow:hover {
    color: #FA573A;
    font-size: 3rem;
}

#carousel {
    margin-top: clamp(50px, 10vw, 200px);
}