#wrapper {
    min-height: 75vh;
}

.autocomplete {
    color: black;
}

.mat-expansion-panel {
    background: transparent;
    color: white;
}

.mat-expansion-panel-header-description {
    color: #FA573A;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    margin-right: 0;
}