<div id="buscador" class="row justify-content-center align-items-end mb-5">
    <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5">
        <form [formGroup]=fomularioBusquedaNombre (ngSubmit)="onSubmitBusquedaNombre()">
            <div class="form-group">
                <input type="search" class="form-control form-control-lg" placeholder="Busca tu terraza..."
                    formControlName="nombre">
            </div>
        </form>
    </div>
</div>

<div id="buscadorAvanzado" class="row justify-content-center align-items-end mb-5">
    <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5">

        <mat-accordion id="acordeon">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        <i class="fas fa-angle-double-down"></i>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <form [formGroup]=fomularioBusquedaAvanzada (ngSubmit)="onSubmitBusquedaAvanzada()">
                    <div class="form-group">
                        <label for="">Barrio</label>
                        <select (change)="onChangeBarrio($event)" class="custom-select" formControlName="barrio">
                            <option [value]="barrio" *ngFor=" let barrio of arrBarrio">{{barrio}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Calle</label>
                        <input type="text" class="form-control" formControlName="calle"
                            placeholder="Nombre de la calle...">
                        <!-- [attr.disabled]="(fomularioBusquedaAvanzada.controls.barrio.value!=''?'disabled':null)"" -->
                    </div>
                    <div class="form-group">
                        <mat-slide-toggle color="warn" formControlName="cercaDeMi">Cerca de mí</mat-slide-toggle>
                    </div>
                    <input type="submit" value="Buscar" class="btn btn-danger btn-block">
                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<div class="wrapper row justify-content-center">
    <div class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-7">
        <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" interval="5000" [keyboard]="true"
            [pauseOnHover]="true" [wrap]="true" [activeId]="'slideOne'">
            <ng-template ngbSlide id="slideOne">
                <div class="picsum-img-wrapper">
                    <img class="img-fluid" src="../../assets/imgTerrazas/circuloDeBellasArtes.jpg"
                        alt="Random first slide">
                </div>
                <div class="carousel-caption">
                    <h3>CIRCULO DE BELLAS ARTES DE MADRID</h3>
                    <p>Calle de Alcalá, 42, 28014 Madrid</p>
                </div>
            </ng-template>
            <ng-template ngbSlide id="slideTwo">
                <div class="picsum-img-wrapper">

                    <img class="img-fluid" src="../../assets/imgTerrazas/laMuccaPez.jpg" alt="Random second slide">
                </div>
                <div class="carousel-caption">
                    <h3>LA MUCCA </h3>
                    <p>Plaza de Carlos Cambronero, 4, 28004 Madrid</p>
                </div>
            </ng-template>
            <ng-template ngbSlide id="slideThree">
                <div class="picsum-img-wrapper">
                    <img class="img-fluid" src="../../assets/imgTerrazas/hotelRoomMate.jpg" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                    <h3>HOTEL ROOM MATE</h3>
                    <p>Plaza de Pedro Zerolo, 12, 28004 Madrid</p>
                </div>
            </ng-template>
            <ng-template ngbSlide id="slideFour">
                <div class="picsum-img-wrapper">
                    <img class="img-fluid" src="../../assets/imgTerrazas/ramses.jpg" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                    <h3>RAMSES LIFE & FOOD</h3>
                    <p>Plaza de la Independencia, 4, 28001 Madrid</p>
                </div>
            </ng-template>
            <ng-template ngbSlide id="slideFive">
                <div class="picsum-img-wrapper">
                    <img class="img-fluid" src="../../assets/imgTerrazas/floridaRetiro.jpg" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                    <h3>FLORIDA RETIRO</h3>
                    <p>Paseo Fernán Núñez, num 26, 28009 Madrid</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>