.container {
    min-height: 75vh;
    padding-right: 0;
    padding-left: 0;
}

.wrapper {
    width: 100%;
}

h4 {
    color: #FA573A;
}

form {
    background-color: rgba(50, 50, 50, 0.9);
}

.list-group-item {
    color: floralwhite;
    background-color: rgba(50, 50, 50, 0.9);
}

input.ng-valid.ng-touched {
    border: 4px solid lightgreen;
}

input.ng-invalid.ng-touched {
    border: 4px solid crimson;
}

.error {
    color: red;
}